* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: yellow;
    font-family: cursive;
}

.form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    border-radius: 10px;

}

.input {
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border: 4px solid green;
    color: green;
    outline: none;

}

.input::placeholder {
    font-family: sans-serif;
    color: lightgray;
}

.btn {
    background-color: green;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 6px;
    font-family: sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.btn:hover {
    filter: brightness(.9);
}
.score_container{
    display: flex;
    justify-content: end;
    align-items: center;
}
.score {
    background-color:green;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    font-size: 12px;
}